body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

:root {
  --primary: #003c97; // primary color
  --light-bg: #f0f8ff; // background color
  --accent: #007bff; // accent color
  --text: #111827; // text color
  --white-text: #f9fafb; // white text color
}
